In [3]:
%pip install pandas

Collecting pandas
  Using cached pandas-1.4.2-cp310-cp310-win_amd64.whl (10.6 MB)
Requirement already satisfied: pytz>=2020.1 in c:\users\ricardocarvalho\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.1)
Collecting numpy>=1.21.0
  Using cached numpy-1.22.4-cp310-cp310-win_amd64.whl (14.7 MB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ricardocarvalho\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\ricardocarvalho\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.22.4 pandas-1.4.2
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script f2py.exe is installed in 'c:\Users\ricardocarvalho\AppData\Local\Programs\Python\Python310\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [8]:
import pandas as pd
import unicodedata
import re 

def limpar_texto(texto):
    # Remover acentos
    result = unicodedata.normalize('NFKD', texto).encode('ASCII', 'ignore').decode('ASCII')

    # Remover caracteres especiais
    lista = '-#?º°ª.:/;~^`[{]}\\|!$%"\'&*()=+,><\t\r\n…'
    for i in range(0, len(lista)):
        result = result.replace(lista[i], ' ')

    # Transformar em UPPER case
    result = result.upper().strip()

    return result

### Obter dados de nomes e limpar first_name

In [5]:
nomes = pd.read_csv("dados/nomes.csv")

In [6]:
nomes.head()

,alternative_names,classification,first_name,frequency_female,frequency_male,frequency_total,frequency_group,group_name,ratio
0,AILINE|ALEINE|ALIINE|ALINE|ALINER|ALINHE|ALINN...,F,AALINE,66.0,NaN,66,530550,ALINE,1.0
1,ARAAO|ARAO,M,AARAO,NaN,281.0,281,3526,ARAO,1.0
2,AHARON|AROM|ARON|ARYON|HARON,M,AARON,NaN,676.0,676,3442,ARON,1.0
3,ADA|ADAH|ADAR|ADHA|HADA,F,ABA,82.0,NaN,82,5583,ADA,1.0
4,NaN,M,ABADE,NaN,57.0,57,57,ABADE,1.0

In [9]:
nomes.first_name = nomes.first_name.apply(limpar_texto)

### Obter meu nome e limpar

In [10]:
meu_nome = "Ricardo"

In [11]:
meu_nome = limpar_texto(meu_nome)
meu_nome

'RICARDO'

### Achar meu nome nos dados de nomes

In [13]:
linha = nomes[nomes.first_name == meu_nome].iloc[0]
linha

alternative_names    RIICARDO|RIKARDO|RYCARDO
classification                              M
first_name                            RICARDO
frequency_female                       1868.0
frequency_male                       467835.0
frequency_total                        469703
frequency_group                        469796
group_name                            RICARDO
ratio                                0.996023
Name: 69474, dtype: object

### Imprimir saida

In [19]:
texto_saida = f"Nome: {linha.first_name} \nGenero: {linha.classification} \nProbabilidade: {linha.ratio} \nNomes alternativos: {linha.alternative_names}"
print(texto_saida)

Nome: RICARDO
Genero: M
Probabilidade: 0.9960230188012424
Nomes alternativos: RIICARDO|RIKARDO|RYCARDO